/* Stylesheet by Peter Newman, 2019 */



#mapid {
	height: 500px;
	width: 80% ;
	display: inline-block;
}


#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

p {
	font-family: Arial;
}

#filtervalue, #year {
	font-size: 30px;
}


.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
	font-family: Arial;
	font-size: 15px;
}

.range-slider {
    width: 200px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#increase {
    float: right;
}

#decrease {
    float: left;
}

